In [142]:
import requests
import pandas as pd
import numpy as np
#import eurostat
import json
import os
import datetime

In [122]:
#os.chdir('C:\\Users\\loren\\OneDrive\\Desktop\\PhD\\Progetto\\python\\src')

In [143]:
ip = pd.read_csv("C:\\Users\\loren\\OneDrive\\Desktop\\PhD\\Progetto\\python\\data\\ip_data.csv")

In [144]:
ip = ip[['TIME_PERIOD','geo', 'OBS_VALUE']]

In [125]:
gasp = pd.read_csv("C:\\Users\\loren\\OneDrive\\Desktop\\PhD\\Progetto\\python\\data\\TTF gas prices.csv")

In [127]:
gasp.columns

gasp = gasp[['#NAME?','LSG Natural Gas TTF NL 1st Fut. Day - SETT. PRICE']]

In [128]:
gasp[['Time']] = gasp[['#NAME?']]

C:\Users\loren\AppData\Local\Temp\ipykernel_16304\2941739282.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gasp[['Time']] = gasp[['#NAME?']]

In [129]:
gasp[['Prices']] = gasp[['LSG Natural Gas TTF NL 1st Fut. Day - SETT. PRICE']]

C:\Users\loren\AppData\Local\Temp\ipykernel_16304\74633443.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gasp[['Prices']] = gasp[['LSG Natural Gas TTF NL 1st Fut. Day - SETT. PRICE']]

In [130]:
gasp = gasp[['Time','Prices']]

In [134]:
gasp['TIME'] = pd.to_datetime(gasp['Time'], utc=True, infer_datetime_format=True)

C:\Users\loren\AppData\Local\Temp\ipykernel_16304\798635417.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  gasp['TIME'] = pd.to_datetime(gasp['Time'], utc=True, infer_datetime_format=True)
C:\Users\loren\AppData\Local\Temp\ipykernel_16304\798635417.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  gasp['TIME'] = pd.to_datetime(gasp['Time'], utc=True, infer_datetime_format=True)

In [135]:
#gasp.T = gasp.T.dt.strftime('%Y-%m-%d %H:%M:%S')

In [ ]:
gasp.index = pd.to_datetime(gasp['TIME'],format='%d/%m/%y')
gasp = gasp.groupby(by=[gasp.index.month, gasp.index.year])

In [140]:
gasp.head()

                                 Time  Prices                      TIME
TIME
2024-10-28 00:00:00+00:00  28/10/2024   42.15 2024-10-28 00:00:00+00:00
2024-10-25 00:00:00+00:00  25/10/2024   42.93 2024-10-25 00:00:00+00:00
2024-10-24 00:00:00+00:00  24/10/2024   42.08 2024-10-24 00:00:00+00:00
2024-10-23 00:00:00+00:00  23/10/2024   41.05 2024-10-23 00:00:00+00:00
2024-10-22 00:00:00+00:00  22/10/2024   40.93 2024-10-22 00:00:00+00:00
...                               ...     ...                       ...
2004-01-30 00:00:00+00:00  30/01/2004   10.65 2004-01-30 00:00:00+00:00
2004-01-29 00:00:00+00:00  29/01/2004   11.60 2004-01-29 00:00:00+00:00
2004-01-28 00:00:00+00:00  28/01/2004   12.10 2004-01-28 00:00:00+00:00
2004-01-27 00:00:00+00:00  27/01/2004   11.70 2004-01-27 00:00:00+00:00
2004-01-26 00:00:00+00:00  26/01/2004   11.50 2004-01-26 00:00:00+00:00

[1250 rows x 3 columns]